/*==============================================
Variables CSS
================================================*/
$font-color-dark: #000;
$font-color-light-dark: #737373;
$font-color-light: #fff;
$font-color-secondary: #3a9ac8;

$dark-bg-primary-text-color: #fff;
$dark-bg-secondary-text-color: #3a9ac8;

$button-dark-bg: #000;
$button-light-dark-bg: #737373;
$button-light-bg: #fff;
$button-secondary-bg: #3a9ac8;

$bg-dark-color: #000;
$bg-light-dark-color: #737373;
$bg-light-color: #fff;
$bg-secondary-color: #3a9ac8;

$a-dark-color: $font-color-dark;
$a-light-dark-color: $font-color-light-dark;
$a-light-color: $font-color-light;
$a-secondary-color: $font-color-secondary;

$button-dark-color: $font-color-dark;
$button-light-dark-color: $font-color-light-dark;
$button-light-color: $font-color-light;
$button-secondary-color: $font-color-secondary;

$heading-dark-color: $font-color-dark;
$heading-light-dark-color: $font-color-light-dark;
$heading-light-color: $font-color-light;
$heading-secondary-color: $font-color-secondary;

$input-dark-color: $font-color-dark;
$input-light-dark-color: $font-color-light-dark;
$input-light-color: $font-color-light;
$input-secondary-color: $font-color-secondary;

$pargraph-dark-color: $font-color-dark;
$pargraph-light-dark-color: $font-color-light-dark;
$pargraph-light-color: $font-color-light;
$pargraph-secondary-color: $font-color-secondary;

$span-dark-color: $font-color-dark;
$span-light-dark-color: $font-color-light-dark;
$span-light-color: $font-color-light;
$span-secondary-color: $font-color-secondary;

/*==============================================
Variables CSS
================================================*/